{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}password_change_form.html{% endblock %}

{% block content %}
  <h1>암호 변경</h1>
  <p class="font-italic">이전 암호와 신규 암호를 입력하세요.</p>

  {% if form.errors %}
      <div class="alert alert-danger">
          <div class="font-weight-bold">Wrong Please correct the error(s) below.</div>
          {{ form.errors }}
      </div>
  {% endif %}

  <!-- 
    2020-09-25 by fantasy8
    - 라벨 한글화 처리
  -->
  <form action="." method="post" class="card pt-3">{% csrf_token %}
    <div class="form-group row">
      <span class="col-form-label col-sm-1 ml-3 font-weight-bold"> 이전 암호</span>
      <div class="col-sm-5">
        {{ form.old_password|add_class:"form-control"|attr:"autofocus" }}
      </div>
    </div>
    <div class="form-group row">
      <span class="col-form-label col-sm-1 ml-3 font-weight-bold"> 신규 암호</span>
      <div class="col-sm-5">
        {{ form.new_password1|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group row">
      <span class="col-form-label col-sm-1 ml-3 font-weight-bold"> 암호 확인</span>
      <div class="col-sm-5">
        {{ form.new_password2|add_class:"form-control" }}
      </div>
    </div>
    
    <div class="form-group">
      <div class="offset-sm-3 col-sm-5">
        <input type="submit" value="암호 변경" class="btn btn-info" />
      </div>
    </div>
  </form>
{% endblock content %}