{% extends 'base.html' %}

{% block title %}도시 정보 수정{% endblock %}

{% block content %}
<br />
<table class="table table-bordered table-condensed table-striped table-sm">
    <thead>
        <tr class="table-success">
            <th>도시명</th>
            <th>설명</th>
            <th>위도</th>
            <th>경도</th>
            <th>ZOOM</th>
            <th>변경</th>
            <th>삭제</th>
        </tr>
    </thead>

    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.city_name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.latitude }}</td>
            <td>{{ item.longitude }}</td>
            <td>{{ item.zoom }}</td>
            <td><a href="{% url 'city:city_update' item.id %}">변경</a></td>
            <td><a href="{% url 'city:city_delete' item.id %}">삭제</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}